@font-face {
  font-family: "Buttons' Font";
  src: url("../Fonts/BBHSansBartle-Regular.ttf") format("truetype");
}

body {
  
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('background.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.corner-logo {
  width: 15%;
}

nav {
  width: 70%;
}

header {
  display: flex;
  background-attachment: fixed;
  margin: 0;
  background-color: rgb(34, 70, 79);
}
ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
li a {
  width: 10rem;
  height: 6rem;
  text-align: center;
  line-height: 6rem;
  color:blue;
  font-size: 2rem;
  text-decoration: none;
  text-decoration-line: none;
}

li:hover {
  background-color: rgb(0, 94, 20);
}

li {
  background-color: aqua;
  width: 10rem;
  height: 6rem;
  text-align: center;
  line-height: 6rem;
  color:rgb(255, 0, 0);
  font-size: 2rem;
}