@font-face {
  font-family: "Buttons' Font";
  src: url("../Fonts/BBHSansBartle-Regular.ttf") format("truetype");
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('background.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Buttons' Font";
}

.corner-logo {
  width: 15%;
}

nav {
  width: 70%;
}

header {
  display: flex;
  top: 0;   
  position: sticky;
  margin: 0;
  background-color: rgb(34, 70, 79);
  z-index: 10;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  gap:1rem;
}
li a {
  width: 10rem;
  height: 6rem;
  text-align: center;
  line-height: 6rem;
  color:antiquewhite;
  font-size: 1.5rem;
  text-decoration: none;
  text-decoration-line: none;
}

li:hover {
  background-color: rgb(0, 94, 20);
}

li {
  background-color: rgb(26, 52, 59);
  width: 24rem;
  height: 6rem;
  text-align: center;
  line-height: 6rem;
  color:antiquewhite;
  font-size: 1.5rem;
  border-radius: 1rem;
}

p{
  color:antiquewhite;
  text-align: center;
  margin: 0 auto;
  width:50rem;
  height: 6rem;
  padding-top: 1rem;
}

.a {
  height: 10rem;
}

h3 {
  color:antiquewhite;
  text-align: center;
  margin: 0 auto;
  width:70rem;
  height: 15rem;
  line-height: 15rem;
  font-size: 3rem;
}

.MainPic {
  display: flex;
  margin: 0 auto;
  justify-content: center;     
  align-items: center;
  height: 40rem;
}

.container1 {
  display:flex;
  justify-content: space-evenly;
  gap: 5rem;
}

footer{
  background-color: rgb(34, 70, 79);
  padding-bottom: 4rem;
  height: 7rem;
  display: flex;
  margin: 0 auto;
}

.product-pic {
  width: 300px;
  height: 400px;
  display: flex;
  margin: 0 auto;
  justify-content: center;     
  align-items: center;
  padding-top: 1rem;
  
}

.product-article {
  background-color: blanchedalmond;
  width: 350px;
  height: 850px;
}

.product-desc {
  
  color:rgb(31, 168, 104);
  text-align: center;
  margin: 0 auto;
  width:20rem;
  height: 30rem;
  text-align: center;
  font-size: 0.9rem;
}

h4 {
  padding-left: 2rem;
  width:10rem
}

h1 {
  color:blanchedalmond;
  text-align: left;
  width: 30rem;
  padding-bottom: 4rem;
  padding-top: 3rem;

}

.contact-text {
  color:antiquewhite;
  text-align: left;
  margin: 0 auto;
  width:30rem;
  height: 1rem;
  padding-top: 1rem;
}

.contact-map{
  padding-top: 3rem;
  height: 40rem;
}