body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    background-color:white;
}
header{
    color:;
    text-align: start;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.home {
  position: absolute; /* абсолютное позиционирование */
  top: 50px;        /* отступ сверху */
  left: 1200px;        /* отступ слева */
  color: rgb(180, 2, 79);       /* просто для примера */
}

.contacts {
  position: absolute; /* абсолютное позиционирование */
  top: 50px;        /* отступ сверху */
  left: 1395px;        /* отступ слева */
  color:rgb(180, 2, 79);       /* просто для примера */
}

.products {
  position: absolute; /* абсолютное позиционирование */
  top: 50px;        /* отступ сверху */
  left: 1650px;        /* отступ слева */
  color:rgb(180, 2, 79);       /* просто для примера */
}

a {
  color: black;           /* Цвет текста ссылки */
  text-decoration: none;  /* Убираем подчеркивание */
}

a:hover {
  color: rgb(180, 2, 79);        /* Цвет при наведении (по желанию) */
  text-decoration: underline; /* Можно показать подчеркивание при наведении */
}

.corner-logo {
  position: fixed;  /* фиксируется при прокрутке */
  top: 0px;
  left: 0px;
  width: 300px;
  height: auto;
  z-index: 1000;   /* чтобы была поверх всего */
}